
<nav class="navbar">
  <a routerLink="/" class="nav-icon">
    <img src="/assets/images/icon.png">
    <p>Items Management</p>
  </a>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active">Items</a>
    <a routerLink="/proposals" routerLinkActive="active">Proposals</a>    
  </div>

  <div class="user-switch">
    <label>Select User:</label>
    <select (change)="switchUser($any($event.target).value)">
      <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
    </select>
  </div>
</nav>